
body{ 

 background-image: url("Noma-063-ff.png");
 background-position: 50% 2.35%;
 background-repeat: no-repeat;




}



h1{ 
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 9px 10px 9px

}

p{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;

}

h2{
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgba(243,190,34, 1);


}

.italic {
    font: italic 1.2em "Helvetics", serif;
    font-size: 20px;
    text-align: center;
    color: black;

}

img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%

    }
    
#reference {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    width:700px;
    margin:0 auto;
 
}


ul{

    font-family: Helvetica, sans-serif;
    font-size: 16px;
    width:150px;
    margin:0 auto;

}
